@charset "utf-8";

.radio_container {
    label {
        display: inline-flex;
        align-items: center;
        font-size: 14px;

        input[type="radio"] {
            margin-right: 5px;
        }
    }
}

.estafeta_wr {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    flex-wrap:wrap;

    @media all and (max-width: 1000px){
        display: block;
    }

    .woocommerce-form {
        flex: 0 0 32%;
        box-sizing: border-box;
    }

    input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], textarea, textarea.wp-editor-area, .select_container, select, .select_container select {
        display: block;
        width: 100%;
    }
}

.btn-group-tab {
    background: #fff;
    margin: 0 auto;
    max-width: 1278px;
    padding: 16px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-group {
        flex: 0 0 48%;

        a {
            display: block;
            text-align: center;
            padding: 16px;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            position: relative;
            color: #000;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 3px;
                background: #2dbdda;
                opacity: 0;
            }
        }

        &.active a{
            color: #2dbdda;

            &:before {
                opacity: 1;
            }
        }
    }
}

.table_wrap {
    @media all and (max-width: 1000px) {
        overflow: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
}

.my_anketa_wr {

    input,select {
        display: block;
        width: 100%;
    }

    input[type="date"] {
        color: #797e87;
        border-color: #e4e4e4;
        background-color: #f4f4f4;
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5em;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0px;
        padding: 0.94em 1.5em;
        border: 2px solid #ddd;
        -webkit-border-radius: 28px;
        -ms-border-radius: 28px;
        border-radius: 28px;
        box-sizing: border-box;

    }

    .anketa_form {

        .form-row {
            margin: 0;
        }

        @media all and (max-width: 767px)  {
            display: block;
        }
    }
}

.tab_title_block {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: top;

            a {
                display: block;
                padding: 12px 18px;
                color: silver;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    height: 2px;
                }

                @media all and (max-width: 767px)   {
                    font-size: 14px;
                    padding: 8px;
                    text-transform: none;
                }
            }

            &.active{
                a {
                    color: #000;

                    &:before {
                        background: #2dbdda;
                    }
                }
            }
        }
    }
}

.zabeg_block {
    box-sizing: border-box;
    border: 2px solid #2dbdda;

    .item {
        padding: 20px;

        @media all and (max-width: 767px)  {
            padding: 10px;
        }
    }

    .name {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 10px;
        color: #fff;
        margin: -20px -20px 10px -20px;
        padding: 20px;
        background: #2dbdda;

        @media all and (max-width: 767px)  {
            padding: 10px;
            margin: -10px -10px 10px;
        }
    }

    .status {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        color: #000;
        padding: 0 22px 0 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 14px;
            height: 14px;
            bottom: 0;
            margin: auto;
        }

        &.succes {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5303 4.46967C10.8232 4.76256 10.8232 5.23744 10.5303 5.53033L6.53033 9.53033C6.23744 9.82322 5.76256 9.82322 5.46967 9.53033L3.46967 7.53033C3.17678 7.23744 3.17678 6.76256 3.46967 6.46967C3.76256 6.17678 4.23744 6.17678 4.53033 6.46967L6 7.93934L9.46967 4.46967C9.76256 4.17678 10.2374 4.17678 10.5303 4.46967Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        &.error {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7' fill='%23FF2626'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.96967 3.96967C4.26256 3.67678 4.73744 3.67678 5.03033 3.96967L7 5.93934L8.96967 3.96967C9.26256 3.67678 9.73744 3.67678 10.0303 3.96967C10.3232 4.26256 10.3232 4.73744 10.0303 5.03033L8.06066 7L10.0303 8.96967C10.3232 9.26256 10.3232 9.73744 10.0303 10.0303C9.73744 10.3232 9.26256 10.3232 8.96967 10.0303L7 8.06066L5.03033 10.0303C4.73744 10.3232 4.26256 10.3232 3.96967 10.0303C3.67678 9.73744 3.67678 9.26256 3.96967 8.96967L5.93934 7L3.96967 5.03033C3.67678 4.73744 3.67678 4.26256 3.96967 3.96967Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }

    .subname {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #000;
    }

    .params {
        padding-top: 10px;
        .param_item {
            padding: 5px 0;
            font-size: 16px;
        }
    }
}

.online_zabeg_block {
    max-width: 1300px;
    margin: 0 auto;

    .control-label {
        display: block;
        color: #000;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .form-group{
        padding-top: 30px;
    }

    .uploaded_screenshots{
        padding: 30px 0 0;

        .title {
            color: #000;
            font-size: 18px;
            padding-bottom: 20px;
        }
    }

    .scrin_list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        box-sizing: border-box;
        padding: 0 10px;

        @media all and (max-width: 579px){
            margin: 0;
            display: block;
        }



        .item {
            display: block;
            text-decoration: none;
            flex: 0 0 calc(25% - 30px);
            margin: 0 15px 30px;

            img {
                border-radius: 20px;
                object-fit: cover;
                width: 100%;
            }

            @media all and (max-width: 1100px){
                margin-bottom: 20px;
                flex: 0 0 calc(33.33% - 30px);
            }

            @media all and (min-width: 580px) and (max-width: 767px){
                flex: 0 0 calc(50% - 30px);
            }

            @media all and (max-width: 579px){
                margin: 0 0 20px;
            }
        }
    }
}

.page_content_wrap .content_wrap {
    .content {
        float: left;
        width: 65%;
    }

    .sidebar {
        float: right;
    }
}





