<!DOCTYPE html>
<html lang="en" class="scheme_default">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/style.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/plugins/woocommerce/assets/css/woocommerce.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__plugins.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__custom.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-default.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-dark.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-alter.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/4c6255bb/css/home.css">
	<link rel="stylesheet" href="https://triathlon.uz/assets/48ef2909/fcunited/style.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body style="background: #e3e3e3;"> 

	