include _header.jade

<form class="woocommerce estafeta_wr" style="max-width: 1300px;margin: 0 auto;">
	<h2 style="margin: 0 0 30px: width: 100%;">Эстафета</h2>
	<div class="form-group field-signupform-full_name required" style="width: 100%;">
		<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
			<label class="control-label" for="signupform-full_name">Название команды&nbsp;<span class="required">*</span></label>
			<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
		</p>
		<p class="help-block help-block-error"></p>
	</div>
	<div class="woocommerce-form woocommerce-form-login login">
		<h4 style="margin: 0 0 40px">Участник №1</h4>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">ФИО&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Клуб</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-region_id required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Город, страна&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">Ташкент</option>
					<option value="2">Андижан</option>
					<option value="3">Бухара</option>
					<option value="4">Фергана</option>
					<option value="5">Джизак</option>
					<option value="6">Хорезм</option>
					<option value="7">Наманган</option>
					<option value="8">Навои</option>
					<option value="9">Кашкадарья</option>
					<option value="10">Самарканд</option>
					<option value="11">Сырдарья</option>
					<option value="12">Сурхондарьия</option>
					<option value="13">Каракалпакстан</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Размер футболки&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">S</option>
					<option value="2">M</option>
					<option value="3">L</option>
					<option value="4">XL</option>
					<option value="5">XXL</option>
					<option value="6">XXXL</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_number_lit required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_number_lit">Номер страховки (при наличии лицензии номер страховки под фото)&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-phone required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-phone">Номер телефона&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-phone" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-ex_phone">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="field-signupform-ex_phone">Экстренный контакт - Номер&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-ex_phone" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
	</div>
	<div class="woocommerce-form woocommerce-form-login login">
		<h4 style="margin: 0 0 40px">Участник №2</h4>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">ФИО&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Клуб</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-region_id required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Город, страна&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">Ташкент</option>
					<option value="2">Андижан</option>
					<option value="3">Бухара</option>
					<option value="4">Фергана</option>
					<option value="5">Джизак</option>
					<option value="6">Хорезм</option>
					<option value="7">Наманган</option>
					<option value="8">Навои</option>
					<option value="9">Кашкадарья</option>
					<option value="10">Самарканд</option>
					<option value="11">Сырдарья</option>
					<option value="12">Сурхондарьия</option>
					<option value="13">Каракалпакстан</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Размер футболки&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">S</option>
					<option value="2">M</option>
					<option value="3">L</option>
					<option value="4">XL</option>
					<option value="5">XXL</option>
					<option value="6">XXXL</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_number_lit required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_number_lit2">Номер страховки (при наличии лицензии номер страховки под фото)&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-phone required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-phone2">Номер телефона&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-phone2" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-ex_phone">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="field-signupform-ex_phone2">Экстренный контакт - Номер&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-ex_phone2" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
	</div>
	<div class="woocommerce-form woocommerce-form-login login">
		<h4 style="margin: 0 0 40px">Участник №3</h4>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">ФИО&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Клуб</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-region_id required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Город, страна&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">Ташкент</option>
					<option value="2">Андижан</option>
					<option value="3">Бухара</option>
					<option value="4">Фергана</option>
					<option value="5">Джизак</option>
					<option value="6">Хорезм</option>
					<option value="7">Наманган</option>
					<option value="8">Навои</option>
					<option value="9">Кашкадарья</option>
					<option value="10">Самарканд</option>
					<option value="11">Сырдарья</option>
					<option value="12">Сурхондарьия</option>
					<option value="13">Каракалпакстан</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Размер футболки&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">S</option>
					<option value="2">M</option>
					<option value="3">L</option>
					<option value="4">XL</option>
					<option value="5">XXL</option>
					<option value="6">XXXL</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_number_lit required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_number_lit3">Номер страховки (при наличии лицензии номер страховки под фото)&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-phone required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-phone3">Номер телефона&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-phone3" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-ex_phone">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="field-signupform-ex_phone3">Экстренный контакт - Номер&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-ex_phone3" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
	</div>
	<p class="form-row" style="width: 100%;text-align: center;">
		<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" style="width: 280px;margin: 0 auto;float: none; padding: 1.38em 3.5em;border-radius: 30px;">Оплата</button>    
	</p>
</form>
include _footer.jade