include _header.jade
<div class="page_content_wrap">
	<div class="content_wrap">

		<div class="content">

			<div class="zabeg_block">
				<div class="item">
					<div class="name">Название мероприятия </div>
					<div class="status succes">Оплачено</div>
					<div class="params">
						<div class="param_item">Дистанция: <strong>чуть-чуть</strong></div>
						<div class="param_item">Место проведение: <strong>где-то там</strong></div>
						<div class="param_item">Дата старта: <strong>когда нибудь</strong></div>
					</div>
				</div>
				<div class="item">
					<div class="name">Название мероприятия </div>
					<div class="status error">Не оплачено</div>
					<div class="params">
						<div class="param_item">Дистанция: <strong>чуть-чуть</strong></div>
						<div class="param_item">Место проведение: <strong>где-то там</strong></div>
						<div class="param_item">Дата старта: <strong>когда нибудь</strong></div>
					</div>
				</div>
			</div>

		</div><!-- </.content> -->


		<div class="sidebar widget_area right sidebar_below" role="complementary">
			<div class="sidebar_inner">
				<aside id="categories-2" class="widget widget_categories">
					<h5 class="widget_title">Профиль</h5>
					<ul>
						<li class="cat-item"><a href="/account">Запрошенные лицензии</a></li>
						<li class="cat-item"><a href="/account/licence">Запросить новую лицензию</a></li>
						<li class="cat-item"><a href="/account/edit">Редактировать личную информацию</a></li>

						<li class="cat-item"><a href="/account/sprint-index">Спринт</a></li>
						<li class="cat-item"><a href="/account/estafeta-index">Эстафета</a></li>

						<li class="cat-item"><a href="/account/logout"> Выйти</a></li>
					</ul>
				</aside>
			</div>
		</div><!-- /.sidebar -->


	</div><!-- </.content_wrap> -->
</div>
include _footer.jade