include _header.jade
	
<link href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500&amp;amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin-ext%2Cvietnamese&amp;amp;ver=2.7" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;#038;display=auto&amp;#038;ver=5.7.2" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/fonts.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/instagram-feed/css/sbi-styles.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/css/dist/block-library/style.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/essential-grid/public/assets/css/settings.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/essential-grid/public/assets/font/fontello/css/fontello.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/revslider/public/assets/css/rs6.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/css/dashicons.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/sportspress/assets/css/sportspress.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/sportspress/assets/css/icons.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/sportspress/assets/css/sportspress-style.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/sportspress/assets/css/sportspress-style-ltr.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/css/font-icons/css/trx_addons_icons.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/js/swiper/swiper.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/js/magnific/magnific-popup.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/css/__styles.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/css/trx_addons.animation.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/woocommerce/assets/css/woocommerce.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/animations/animations.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/css/frontend-legacy.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/css/frontend.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/font-awesome/css/all.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/wp-gdpr-compliance/assets/css/front.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/font-icons/css/fontello.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/style.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__plugins.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__custom.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-default.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-dark.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__colors-alter.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/js/mediaelement/mediaelementplayer-legacy.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/js/mediaelement/wp-mediaelement.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/skins/default/skin.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/trx_addons/css/__responsive.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/css/__responsive.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/fcunited/skins/default/skin-responsive.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/plugins/elementor/assets/lib/font-awesome/css/brands.min.css" rel="stylesheet">
<link href="https://triathlon.uz/assets/4c6255bb/css/home.css" rel="stylesheet"></head>

	<div class="btn-group-tab btn-group-justified current-past">
		<div class="btn-group text-center active" role="group">
			<a href="/ru/event">Предстоящие события</a>
		</div>
		<div class="btn-group text-center" role="group">
			<a href="/ru/event/past">Прошедшие события</a>
		</div>
	</div>
<section class="elementor-section elementor-top-section elementor-element elementor-element-425f5c7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="425f5c7" data-element_type="section">
<div class="elementor-container elementor-column-gap-extended">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7901abd sc_inner_width_none sc_layouts_column_icons_position_left" data-id="7901abd" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-c92eff1 sc_fly_static elementor-widget elementor-widget-trx_sc_events" data-id="c92eff1" data-element_type="widget" data-widget_type="trx_sc_events.default">
<div class="elementor-widget-container">
<div id="trx_sc_events_121897968" class="sc_events sc_events_default">
<div id="w0" class="sc_events_content sc_item_content">
<div class="sc_events_item" data-key="2">
<div class="sc_events_item_date">
<span class="sc_events_item_date_day">05</span>
<span class="sc_events_item_date_month">июня</span>
</div>
<div class="post_featured with_thumb hover_simple sc_events_item_thumb">
<img width="600" height="394" src="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg" class="attachment-fcunited-thumb-extra size-fcunited-thumb-extra wp-post-image" alt="" loading="lazy" srcset="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 600w, https://triathlon.uz/crop/1/32_21_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 32w" sizes="(max-width: 600px) 100vw, 600px">
<div class="mask"></div>
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" aria-hidden="true" class="icons"></a>
</div>
<div class="sc_events_item_info">
<div class="sc_events_item_header">
<h4 class="sc_events_item_title">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2">I ЭТАП КУБКА САТА ПО ТРИАТЛОНУ</a>
</h4>
<div class="sc_events_item_meta">
<span class="sc_events_item_meta_item sc_events_item_meta_date">
<span class="label_event">Время:</span>
<span class="sc_events_item_meta_date_start">июня 05, 2021 20:47</span>
<span class="sc_events_item_meta_date_separator">-</span>
<span class="sc_events_item_meta_date_end">июня 06, 2021 20:47</span>
</span>
</div>
<div class="sc_events_item_text">Долгожданный I этап Кубка САТА состоится 5-6 июня в Ташкенте для атлетов категорий Pro и Age Group. </div>
</div>
</div>
<div class="sc_events_item_button sc_item_button">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" class="sc_button">Подробнее </a>
</div>
</div>
<div class="sc_events_item" data-key="2">
<div class="sc_events_item_date">
<span class="sc_events_item_date_day">05</span>
<span class="sc_events_item_date_month">июня</span>
</div>
<div class="post_featured with_thumb hover_simple sc_events_item_thumb">
<img width="600" height="394" src="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg" class="attachment-fcunited-thumb-extra size-fcunited-thumb-extra wp-post-image" alt="" loading="lazy" srcset="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 600w, https://triathlon.uz/crop/1/32_21_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 32w" sizes="(max-width: 600px) 100vw, 600px">
<div class="mask"></div>
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" aria-hidden="true" class="icons"></a>
</div>
<div class="sc_events_item_info">
<div class="sc_events_item_header">
<h4 class="sc_events_item_title">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2">I ЭТАП КУБКА САТА ПО ТРИАТЛОНУ</a>
</h4>
<div class="sc_events_item_meta">
<span class="sc_events_item_meta_item sc_events_item_meta_date">
<span class="label_event">Время:</span>
<span class="sc_events_item_meta_date_start">июня 05, 2021 20:47</span>
<span class="sc_events_item_meta_date_separator">-</span>
<span class="sc_events_item_meta_date_end">июня 06, 2021 20:47</span>
</span>
</div>
<div class="sc_events_item_text">Долгожданный I этап Кубка САТА состоится 5-6 июня в Ташкенте для атлетов категорий Pro и Age Group. </div>
</div>
</div>
<div class="sc_events_item_button sc_item_button">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" class="sc_button">Подробнее </a>
</div>
</div>
<div class="sc_events_item" data-key="2">
<div class="sc_events_item_date">
<span class="sc_events_item_date_day">05</span>
<span class="sc_events_item_date_month">июня</span>
</div>
<div class="post_featured with_thumb hover_simple sc_events_item_thumb">
<img width="600" height="394" src="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg" class="attachment-fcunited-thumb-extra size-fcunited-thumb-extra wp-post-image" alt="" loading="lazy" srcset="https://triathlon.uz/crop/1/600_394_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 600w, https://triathlon.uz/crop/1/32_21_F8wsKPVXlGI0fXLxaNWRyA63paWz60qq.jpg 32w" sizes="(max-width: 600px) 100vw, 600px">
<div class="mask"></div>
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" aria-hidden="true" class="icons"></a>
</div>
<div class="sc_events_item_info">
<div class="sc_events_item_header">
<h4 class="sc_events_item_title">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2">I ЭТАП КУБКА САТА ПО ТРИАТЛОНУ</a>
</h4>
<div class="sc_events_item_meta">
<span class="sc_events_item_meta_item sc_events_item_meta_date">
<span class="label_event">Время:</span>
<span class="sc_events_item_meta_date_start">июня 05, 2021 20:47</span>
<span class="sc_events_item_meta_date_separator">-</span>
<span class="sc_events_item_meta_date_end">июня 06, 2021 20:47</span>
</span>
</div>
<div class="sc_events_item_text">Долгожданный I этап Кубка САТА состоится 5-6 июня в Ташкенте для атлетов категорий Pro и Age Group. </div>
</div>
</div>
<div class="sc_events_item_button sc_item_button">
<a href="https://triathlon.uz/event/i_etap_kubka_sata_po_triatlonu_2" class="sc_button">Подробнее </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
include _footer.jade