include _header.jade
<div class="tab_title_block">
	<ul>
		<li class="active"><a href="">Моя анкета</a></li>
		<li><a href="">Мои забеги</a></li>
		<li><a href="">Онлайн забег</a></li>
	</ul>
</div>
<form class="woocommerce my_anketa_wr" style="max-width: 1300px;margin: 0 auto;">
	<div class="woocommerce-form woocommerce-form-login anketa_form">
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Мобильный телефон</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" placeholder="+998912345678">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-region_id required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Клуб, компания (при наличии)</label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="">ВЫБЕРИТЕ КЛУБ...</option>
					<option value="TASHKENT RUNNERS">TASHKENT RUNNERS</option>
					<option value="Die Hard Running Beta Tashkent">Die Hard Running Beta Tashkent</option>
					<option value="BeFit">BeFit</option>
					<option value="ASKLEPIY RUN">ASKLEPIY RUN</option>
					<option value="Irbisuz">Irbisuz</option>
					<option value="EASY 7">EASY 7</option>
					<option value="Ходи, Ташкент">Ходи, Ташкент</option>
					<option value="Extreme Tour">Extreme Tour</option>
					<option value="Andijan runners">Andijan runners</option>
					<option value="Международный клуб NW &quot;Марафон дружбы&quot;">Международный клуб NW "Марафон дружбы"</option>
					<option value="Endurance Run">Endurance Run</option>
					<option value="MDIST Running Club">MDIST Running Club</option>
					<option value="Koryoin">Koryoin</option>
					<option value="Team Korzinka">Team Korzinka</option>
					<option value="TJK Run Club">TJK Run Club</option>
					<option value="PRORUN">PRORUN</option>
					<option value="OzoneFC">OzoneFC</option>
					<option value="Arlan-Astana">Arlan-Astana</option>
					<option value="Crossfit 998">Crossfit 998</option>
					<option value="Buka Gym">Buka Gym</option>
					<option value="Бегуны Узбекистана">Бегуны Узбекистана</option>
					<option value="Любители бега">Любители бега</option>
					<option value="#teamkama">#teamkama</option>
					<option value="NORDIC EURASIA">NORDIC EURASIA</option>
					<option value="Westminster">Westminster</option>
					<option value="I Love Supersport Uzbekistan">I Love Supersport Uzbekistan</option>
					<option value="Tbilisi running club">Tbilisi running club</option>
					<option value="Samarkand tourism">Samarkand tourism</option>
					<option value="O’zsanoatqurilishbank Samarqand">O’zsanoatqurilishbank Samarqand</option>
					<option value="Belissimo Pizza">Belissimo Pizza</option>
					<option value="Leo_17s">Leo_17s</option>
					<option value="В ПОГОНЕ ЗА ПРЕССОМ">В ПОГОНЕ ЗА ПРЕССОМ</option>
					<option value="adidas Runners Moscow">adidas Runners Moscow</option>
					<option value="Asaka bank">Asaka bank</option>
					<option value="Barys kz">Barys kz</option>
					<option value="Bashrun&nbsp;">Bashrun&nbsp;</option>
					<option value="FANUZ">FANUZ</option>
					<option value="freedom team">freedom team</option>
					<option value="Gazyrrun">Gazyrrun</option>
					<option value="I love ploving">I love ploving</option>
					<option value="INTEGRAL ASIA&nbsp;">INTEGRAL ASIA&nbsp;</option>
					<option value="Iron Z TEAM">Iron Z TEAM</option>
					<option value="MURAD NAZAROV'S TEAM">MURAD NAZAROV'S TEAM</option>
					<option value="Nomadskaz">Nomadskaz</option>
					<option value="NUKUSRUNNERS">NUKUSRUNNERS</option>
					<option value="NW OSKEMEN">NW OSKEMEN</option>
					<option value="Olimp-Everest&nbsp;">Olimp-Everest&nbsp;</option>
					<option value="O’zbekneftigaz">O’zbekneftigaz</option>
					<option value="Ridder Nordiki">Ridder Nordiki</option>
					<option value="RUNDOM">RUNDOM</option>
					<option value="Shakhniteam">Shakhniteam</option>
					<option value="SupEr dispatch">SupEr dispatch</option>
					<option value="Talant plus">Talant plus</option>
					<option value="TEZEAL RUNNERS">TEZEAL RUNNERS</option>
					<option value="TRAVEL TIME">TRAVEL TIME</option>
					<option value="Tribe RUN">Tribe RUN</option>
					<option value="ttesi">ttesi</option>
					<option value="Uzbekistan triathlon federation">Uzbekistan triathlon federation</option>
					<option value="академия марафона">академия марафона</option>
					<option value="аРзонаптека">аРзонаптека</option>
					<option value="Бег для удовольствия&nbsp;">Бег для удовольствия&nbsp;</option>
					<option value="беги ди-джей, беги!">беги ди-джей, беги!</option>
					<option value="Голос девушек&nbsp;">Голос девушек&nbsp;</option>
					<option value="Драйв -клуб">Драйв -клуб</option>
					<option value="евразия">евразия</option>
					<option value="КРОКI, Беларусь">КРОКI, Беларусь</option>
					<option value="ПКЦУз &quot;Swietlica Polska&quot;">ПКЦУз "Swietlica Polska"</option>
					<option value="Нордики усть-каменогорск">Нордики усть-каменогорск</option>
					<option value="Фонд развития культуры и искусства">Фонд развития культуры и искусства</option>
					<option value="Agrobankteam">Agrobankteam</option>
					<option value="The Mag">The Mag</option>
					<option value="Andijan run club">Andijan run club</option>
					<option value="ITEK TENNIS CLUB">ITEK TENNIS CLUB</option>
					<option value="Toshkentvilsport">Toshkentvilsport</option>
					<option value="Growy Me">Growy Me</option>
					<option value="SM's 5AM Club">SM's 5AM Club</option>
					<option value="Afishamedia">Afishamedia</option>
					<option value="alpha education">alpha education</option>
					<option value="Marg‘ilon kulubi">Marg‘ilon kulubi</option>
					<option value="TriClub nomad">TriClub nomad</option>
					<option value="Tourism Runners">Tourism Runners</option>
					<option value="selfmama uzbekistan">selfmama uzbekistan</option>
					<option value="AKFA GROUP">AKFA GROUP</option>
					<option value="Podium Italia team">Podium Italia team</option>
					<option value="KHOREZM RUNNERS">KHOREZM RUNNERS</option>
					<option value="WE DIGITAL">WE DIGITAL</option>
					<option value="MADANIYAT VAZIRLIGI">MADANIYAT VAZIRLIGI</option>
					<option value="Wolf Travel Mount">Wolf Travel Mount</option>
					<option value="Сфера Медиа">Сфера Медиа</option>
					<option value="KROKUS PARK">KROKUS PARK</option>
					<option value="click ME">click ME</option>
					<option value="Chirchik sport">Chirchik sport</option>
					<option value="Silk Road Samarkand">Silk Road Samarkand</option>
					<option value="Golden House Development">Golden House Development</option>
					<option value="eriell">eriell</option>
					<option value="УЛИЧНЫЕ ШОССЕРЫ ТАШКЕНТА">УЛИЧНЫЕ ШОССЕРЫ ТАШКЕНТА</option>
					<option value="WomenTriClub">WomenTriClub</option>
					<option value="button team">button team</option>
					<option value="Crazy runners">Crazy runners</option>
					<option value="клуб им.Рацека">клуб им.Рацека</option>
					<option value="JSC Ammofos-Maxam">JSC Ammofos-Maxam</option>
					<option value="Enter Engineering">Enter Engineering</option>
					<option value="orzon.uz">orzon.uz</option>
					<option value="Школа северной ходьбы в Ташкенте">Школа северной ходьбы в Ташкенте</option>
					<option value="granola.uz team">granola.uz team</option>
					<option value="Скандишаг_уз">Скандишаг_уз</option>
					<option value="O'zbekiston temir yo'llari">O'zbekiston temir yo'llari</option>
					<option value="Herbalife Nutrition">Herbalife Nutrition</option>
					<option value="Asia Pharm - Hamisha qalbingizda">Asia Pharm - Hamisha qalbingizda</option>
					<option value="KOKAND RUNNERS">KOKAND RUNNERS</option>
					<option value="EASYBOOKING">EASYBOOKING</option>
					<option value="shymkent run club">shymkent run club</option>
					<option value="cambridge learning centre">cambridge learning centre</option>
					<option value="Beeline Uzbekistan">Beeline Uzbekistan</option>
					<option value="I Love Supersport Kazakhstan">I Love Supersport Kazakhstan</option>
					<option value="Red Stone">Red Stone</option>
					<option value="Филиал РХТУ им.Менделеева в Ташкенте">Филиал РХТУ им.Менделеева в Ташкенте</option>
					<option value="Zamin foundation">Zamin foundation</option>
					<option value="let's go odessa">let's go odessa</option>
					<option value="FoodForLife">FoodForLife</option>
					<option value="ENGINEERING SERVICES">ENGINEERING SERVICES</option>
					<option value="shiPOWnik">shiPOWnik</option>
					<option value="Neo Ташкент">Neo Ташкент</option>
					<option value="Twice Spice">Twice Spice</option>
					<option value="Sarkor Telecom">Sarkor Telecom</option>
					<option value="Bukafit">Bukafit</option>
					<option value="Sporthood">Sporthood</option>
					<option value="UzLITI Engineering">UzLITI Engineering</option>
					<option value="ARASHAN RUN">ARASHAN RUN</option>
					<option value="PERFECT BALANCE">PERFECT BALANCE</option>
					<option value="ML Club IUT">ML Club IUT</option>
					<option value="SAT 1569">SAT 1569</option>
					<option value="ZarRun">ZarRun</option>
					<option value="КАФЕ КАФЕ">КАФЕ КАФЕ</option>
					<option value="Runners Squad Samarkand">Runners Squad Samarkand</option>
				</select>
			</div>
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Имя</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" placeholder="ЛАТИНСКИМИ БУКВАМИ">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Фамилия</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" placeholder="ЛАТИНСКИМИ БУКВАМИ">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Дата рождения</label>
				<input type="date" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" >
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Пол</label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="">ВЫБЕРИТЕ ПОЛ...</option>
					<option value="M">МУЖСКОЙ</option>
					<option value="F">ЖЕНСКИЙ</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Страна</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" >
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Город</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" >
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Экстренный контакт</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">E-mail</label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited" >
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Размер футболки</label>
				<div class="select_container">
				<select class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="XS">XS</option>
					<option value="S">S</option>
					<option value="M">M</option>
					<option value="L">L</option>
					<option value="XL">XL</option>
					<option value="XXL">XXL</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
	</div>
	<p class="form-row" style="width: 100%;text-align: center;">
		<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" style="width: 280px;margin: 0 auto;float: none; padding: 1.38em 3.5em;border-radius: 30px;">Сохранить</button>    
	</p>
</form>
include _footer.jade