include _header.jade
<div class="tab_title_block">
	<ul>
		<li><a href="">Моя анкета</a></li>
		<li><a href="">Мои забеги</a></li>
		<li class="active"><a href="">Онлайн забег</a></li>
	</ul>
</div>
<div class="online_zabeg_block">
	<form id="w0" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="_csrf" value="YrFfSJUj6jyu4UkkzzNFE_X-kLSJDDzST3_VaAOV_DAtg28-5WiGSNa4fn79WBxbzL29xLtWVYMILewpUfO7Bg==">
		<div class="form-group field-screenuploads-url required">
			<label class="control-label" for="screenuploads-url">ВЫБЕРИТЕ СКРИНШОТЫ</label>
			<input type="hidden" name="ScreenUploads[url]" value=""><input type="file" id="screenuploads-url" name="ScreenUploads[url]" aria-required="true">
			<div class="help-block"></div>
		</div>
		<div class="form-group">
			<button type="submit" class="main__register">Загрузить</button>			    
		</div>
	</form>
	<div class="uploaded_screenshots">
		<div class="title">Загруженные скриншоты:</div>
		<div class="scrin_list">
			<div class="item">
				<img src="info1.jpg" alt="">
			</div>
			<div class="item">
				<img src="info1.jpg" alt="">
			</div>
			<div class="item">
				<img src="info1.jpg" alt="">
			</div>
			<div class="item">
				<img src="info1.jpg" alt="">
			</div>
		</div>
	</div>		
</div>
include _footer.jade