include _header.jade

<div class="woocommerce" style="max-width: 800px;margin: 0 auto;">
	<form class="woocommerce-form woocommerce-form-login login">
		<h2 style="margin: 0 0 40px">Спринт</h2>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Имя&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_surname">Фамилия&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-gender required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-gender">Пол&nbsp;<span class="required">*</span></label>
				<div class="select_container">
					<select id="signupform-gender" class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
						<option value="1">Male</option>
						<option value="2">Female</option>
					</select>
				</div>
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_date required" style="max-width: 200px;">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_date">Дата рождения&nbsp;<span class="required">*</span></label>
				<input type="date" style="cursor: pointer;" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-region_id required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-region_id">Город, страна&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select id="signupform-region_id" class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">Ташкент</option>
					<option value="2">Андижан</option>
					<option value="3">Бухара</option>
					<option value="4">Фергана</option>
					<option value="5">Джизак</option>
					<option value="6">Хорезм</option>
					<option value="7">Наманган</option>
					<option value="8">Навои</option>
					<option value="9">Кашкадарья</option>
					<option value="10">Самарканд</option>
					<option value="11">Сырдарья</option>
					<option value="12">Сурхондарьия</option>
					<option value="13">Каракалпакстан</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label">Фото паспорта&nbsp;<span class="required">*</span></label>
				<div><input type="file" name="myImage" accept="image/*" class="woocommerce-Input woocommerce-Input--file input-file fill_inited"></div>
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_name required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_name">Клуб&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-size required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-size">Размер футболки&nbsp;<span class="required">*</span></label>
				<div class="select_container">
				<select id="signupform-size" class="woocommerce-Input woocommerce-Input--text input-text filled fill_inited">
					<option value="1">S</option>
					<option value="2">M</option>
					<option value="3">L</option>
					<option value="4">XL</option>
					<option value="5">XXL</option>
					<option value="6">XXXL</option>
				</select>
			</div>
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-lit required has-success">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-lit">Наличие лицензии триатлониста&nbsp;<span class="required">*</span></label>
				<div class="radio_container">
					<label><input type="radio" name="lit_radio" value="yes">да</label>
					<label><input type="radio" name="lit_radio" value="no">нет</label>
				</div>
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-full_number_lit required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-full_number_lit">Номер страховки на лицензии&nbsp;<span class="required">*</span></label>
				<input type="text" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-phone required">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="signupform-phone">Номер телефона&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-phone" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p><p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-ex_name">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="field-signupform-ex_name">Экстренный контакт - Имя&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-ex_name" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<div class="form-group field-signupform-ex_phone">
			<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
				<label class="control-label" for="field-signupform-ex_phone">Экстренный контакт - Номер&nbsp;<span class="required">*</span></label>
				<input type="text" id="signupform-ex_phone" class="woocommerce-Input woocommerce-Input--text input-text fill_inited">
			</p>
			<p class="help-block help-block-error"></p>
		</div>
		<p class="form-row">
			<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" style="float: none; padding: 1.38em 3.5em;border-radius: 30px;">Оплата</button>    
		</p>
	</form>
</div>
include _footer.jade