include _header.jade
	<div class="table_wrap">
		<table>
			<thead>
				<tr>
					<th width="1">ID <br>(со страницы регистрации)</th>
					<th>Фамилия</th>
					<th>Имя</th>
					<th width="1">Возрастная категория</th>
					<th>Город/Страна</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
				<tr>
					<td width="1">123</td>
					<td>Тошматов</td>
					<td>Тошмат</td>
					<td width="1">3</td>
					<td>Ташкент</td>
				</tr>
			</tbody>
		</table>
	</div>
include _footer.jade