include _header.jade
<div class="tab_title_block">
	<ul>
		<li><a href="">Моя анкета</a></li>
		<li class="active"><a href="">Мои забеги</a></li>
		<li><a href="">Онлайн забег</a></li>
	</ul>
</div>
<div class="zabeg_block">
	<div class="item">
		<div class="name">Lorem ipsum dolor, sit amet </div>
		<div class="status succes">Оплачено</div>
		<div class="subname">Мой пакет:</div>
		<div class="params">
			<div class="delevery">
				<div class="delevery_name">Доставка</div>
				<div class="status error">Не оплачено</div>
				<div class="body">Lorem ipsum dolor sit amet consectetur </div>
			</div>
			<div class="address">
				<div class="address_name">Адрес</div>
				<div class="body">Lorem ipsum dolor sit, amet consectetur, adipisicing elit.</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="name">Lorem ipsum dolor, sit amet </div>
		<div class="status succes">Оплачено</div>
		<div class="subname">Мой пакет:</div>
		<div class="params">
			<div class="delevery">
				<div class="delevery_name">Доставка</div>
				<div class="status error">Не оплачено</div>
				<div class="body">Lorem ipsum dolor sit amet consectetur </div>
			</div>
			<div class="address">
				<div class="address_name">Адрес</div>
				<div class="body">Lorem ipsum dolor sit, amet consectetur, adipisicing elit.</div>
			</div>
		</div>
	</div>
</div>
include _footer.jade